<!DOCTYPE html>
<html lang="en">
<head>
    <title>SquamataBase</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/site/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SquamataBase</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <p class="navbar-text"> Signed in as {{ request.user }}</p>
                    <li><a href="/admin/"><span class="glyphicon glyphicon-pencil"></span> Admin</a></li>
                    <li><a href="/admin/logout/?next={{request.path}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                    <li><a href="/admin/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            {% block sidebar %}{% endblock %}
        </div>
        <div id="content" class="col-sm-9 text-left">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    {% block footercontent %}{% endblock %}
</footer>

{% block extrajs %}{% endblock %}

</body>
</html>
