{% load bibliography %}
<tr>
<td class="hiddenRow" colspan="9">
    <div class="accordion-body collapse" id="foodrecord_{{foodrecord.id}}_id">
        <ul class="nav nav-tabs">
            <li role="presentation" class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#foodrecord_{{foodrecord.id}}_predator">Predator</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#foodrecord_{{foodrecord.id}}_prey">Prey</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#foodrecord_{{foodrecord.id}}_locality">Locality</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#foodrecord_{{foodrecord.id}}_context">Context</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#foodrecord_{{foodrecord.id}}_ref">Reference</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="foodrecord_{{foodrecord.id}}_predator">
                {% with foodrecord.predator as specimen %}
                    {% include "site/specimen.html" %}    
                {% endwith %}
            </div>
            <div class="tab-pane" id="foodrecord_{{foodrecord.id}}_prey">
                {% with foodrecord.prey as specimen %}
                    {% include "site/specimen.html" %}    
                {% endwith %}
            </div>
            <div class="tab-pane" id="foodrecord_{{foodrecord.id}}_locality">
                <table class="table table-striped">
                    {% with foodrecord.locality as locality %}
                    <tr>
                        <td class="field-label">Country</td><td>{{locality.adm0|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">State</td><td>{{locality.adm1|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">County</td><td>{{locality.adm2|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Place</td><td>{{locality.named_place|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Mud map</td><td>{{locality.dirtmap|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Coordinates</td>
                        <td>
                            {% if locality.point %}
                                {{locality.point}}
                            {% else %}
                                {{locality.named_place.point|default:"-"}}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="field-label">Elevation</td>
                        <td>
                            {% if locality.elevation_start %}
                                {{locality.elevation_start}}
                                {% if locality.elevation_end %}
                                    {% if locality.elevation_end != locality.elevation_start %}
                                     - {{locality.elevation_end}}
                                    {% endif %}
                                {% endif %}
                                 {{locality.elevation_unit|default:""}}
                            {% else %}
                            -
                            {% endif %}                            
                        </td>
                    </tr>
                    {% endwith %}
                </table>
            </div>
            <div class="tab-pane" id="foodrecord_{{foodrecord.id}}_context">
                <table class="table table-striped">
                    <tr>
                        <td class="field-label">Basis</td><td>{{foodrecord.basis|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Setting</td><td>{{foodrecord.conditions|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Outcome</td><td>{{foodrecord.outcome|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Ingestion orientation</td><td>{{foodrecord.ingestion_direction|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Event date</td><td>{{foodrecord.event_date|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Start time</td><td>{{foodrecord.start_time|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">End time</td><td>{{foodrecord.end_time|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Habitat</td><td>{{foodrecord.habitat|default:"-"}}</td>
                    </tr>
                    <tr>
                        <td class="field-label">Verbatim habitat</td><td>{{foodrecord.verbatim_habitat|default:"-"}}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="foodrecord_{{foodrecord.id}}_ref">
                {% block bibliography %}{% bibliography foodrecord.ref %}{% endblock %}
            </div>
        </div>
    </div>
</td>
</tr>