{% extends "site/base.html" %}
<!DOCTYPE html>

{% block sidebar %}
    <form role="form" method="get">
        <div class="form-group">
            <label for="taxon-search-box">Search for records involving . . .</label>
            <input class="form-control" type="text" id="taxon-search-box" name="taxon" placeholder="Enter taxon name"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br><br>
    <div class="text-left" id="result-nav-container">
        {% if foodrecords %}
            <span class="result-nav-span"><small>{{foodrecords|length}} result{{foodrecords|pluralize}}</small></span>
        {% else %}
            <span class="result-nav-span"><small>0 results</small></span>
        {% endif %}
        <div id="result-nav-pills">
            <ul class="nav nav-pills">
                <li role="presentation" class="nav-item {% if foodrecords %}active{% else %}disabled{% endif %}">
                    {% if foodrecords %}
                    <a class="nav-link" data-toggle="pill" href="#map-result" role = "tab" aria-controls="map-result" id="map-tab">Map</a>
                    {% else %}
                    <a class="nav-link disabled" role = "tab" aria-controls="map-result" id="map-tab">Map</a>
                    {% endif %}
                </li>
                <li role="presentation" class="nav-item {% if foodrecords %}{% else %}disabled{% endif %}">
                    {% if foodrecords %}
                    <a class="nav-link" data-toggle="pill" href="#table-result" role = "tab" aria-controls="table-result" id="table-tab">Table</a>
                    {% else %}
                    <a class="nav-link disabled" role = "tab" aria-controls="table-result" id="table-tab">Table</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}        
    <div class="tab-content">
        <div class="tab-pane active" id="map-result" role="tab-panel">
            <div id="mapid"></div>
        </div>
        <div class="tab-pane" id="table-result" role="tab-panel">
            {% if foodrecords %}
                <table class="table table-striped table-hover">
                    <tr class = "row2">
                        <th>Predator</th>
                        <th>Prey</th>
                    </tr>
                    {% for foodrecord in foodrecords %}
                    <tr>
                        <td>{{foodrecord.predator.taxon.scientific_name}}</td>
                        <td>{{foodrecord.prey.taxon.scientific_name}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="/static/site/js/initializeMap.js"></script>
{% endblock %}